*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #434343, #000000);
}
h1{
    font-size: 10vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,sans-serif;
    background: linear-gradient(to left, lightgreen, lightcoral);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}